h1{
    text-align: center;
    margin:0 15px;

}

.container{
   max-height: 80vh;
}

.myForm{
          display: flex;
          flex-direction: column;
          /* width: 50%; */
          justify-content: center;
          align-items: center;
          width: 100%;
}

.myInput{

    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size:16px;
    border: 2px solid black;
    border-radius: 12px;
    outline: none;


}

.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    background: #d43b3b;
    cursor: pointer;

}